@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
@font-face {
  font-family: "VelaSans";
  src: local("Vela Sans Regular"),
    url("/src/assets/fonts/VelaSans-Regular.woff") format("truetype");
}
:root {
  /* --second-primary: #5c6895; */
  --primary-color: #58a493;
  --color-gray: #666;
  --color-white: #ffffff;
  --background-color: rgb(243, 243, 243);
  --base-font-color: #35646c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: VelaSans;
}

body {
  background-color: #f0efef;
}

a {
  color: unset;
  text-decoration: none;
}

.container {
  z-index: 1;
  width: 80%;
  margin: 0 auto;
}

.section-title {
  color: var(--base-font-color);
  font-size: 2rem;
}

.height {
  clip-path: ellipse(53% 60% at 50% 30%);
  background-color: #f0efef;
  height: 23vw;
  margin-top: -13vw;
}

@media screen and (min-width: 768px) {
  .height {
    clip-path: ellipse(53% 60% at 50% 30%);
    background-color: #f0efef;
    height: 23vw;
    margin-top: -13vw;
  }
}
