.gynecology-content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  margin-top: 10vw;
}

.gynecology-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  gap: 5vw;
  z-index: 1;
}

.height {
  clip-path: ellipse(53% 60% at 50% 30%);
  background-color: #f0efef;
  height: 23vw;
  margin-top: -13vw;
}

@media screen and (min-width: 768px) {
  .gynecology-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 7vw;
  }

  .gynecology-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    gap: 5vw;
    z-index: 1;
  }

  .height {
    clip-path: ellipse(53% 60% at 50% 30%);
    background-color: #f0efef;
    height: 23vw;
    margin-top: -13vw;
  }
}
