.our-team-component-wrapper {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .our-team-component-wrapper {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: row;
    gap: 2vw;
    margin-top: 5vw;
  }
}
